HF_TOKEN=
SERPERDEV_API_KEY=

API_BASE_URL=http://127.0.0.1:8000


POSTGRES_USER=docintel
POSTGRES_PASSWORD=
POSTGRES_DB=docintel

DATABASE_URL=postgresql+psycopg://docintel:YOUR_PASSWORD@localhost:5433/docintel
PG_CONN_STR=postgresql://docintel:YOUR_PASSWORD@localhost:5433/docintel

TEST_DATABASE_URL=postgresql+psycopg://docintel:YOUR_PASSWORD@localhost:5433/docintel_test
TEST_PG_CONN_STR=postgresql://docintel:YOUR_PASSWORD@localhost:5433/docintel_test

API_BASE_URL=http://127.0.0.1:8000