haystack-ai==3.0.0
huggingface_hub
python-dotenv
pypdf
sentence-transformers
pandas
openpyxl
numpy
streamlit
fastapi
uvicorn[standard]
python-multipart
requests
SQLAlchemy
psycopg[binary]
pgvector-haystack==6.5.0
sentence-transformers-haystack==0.1.1
pydantic==2.13.4