haystack-ai==2.27
huggingface_hub
python-dotenv
pypdf
sentence-transformers
pandas
openpyxl
numpy
streamlit
fastapi
uvicorn[standard]
python-multipart
requests
SQLAlchemy
psycopg[binary]
pgvector-haystack
sentence-transformers-haystack